
<h1><%= title %></h1>
<p>Welcome to <em>LocalLib</em>, a super advanced AI-enabled Express website</p>

<h2>Dynamic Content</h2>

<p>Library Record Count:</p>

<ul style="list-style-type:none">
  <li><strong>Books:</strong> <%= book_count %></li>
  <li><strong>Copies:</strong> <%= book_instance_count %></li>
  <li><strong>Copies Available:</strong> <%= book_instance_count_available %></li>
  <li><strong>Authors:</strong> <%= author_count %></li>
  <li><strong>Genres:</strong> <%= genre_count %></li>
</ul>

